<!DOCTYPE html>
<html>

<head>
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Login</h1>

        {% with messages = get_flashed_messages() %}

        {% if messages %}

        {% for message in messages %}

        <p class="message">{{ message }}</p>

        {% endfor %}

        {% endif %}

        {% endwith %}

        <form method="POST">

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <label>Email:</label>

            <input type="email" name="email" placeholder="Enter your email" required>

            <label>Password:</label>

            <input type="password" name="password" placeholder="Enter your password" required>

            <button type="submit">Login</button>
            <a href="/google-login" class="google-btn">

                <img src="https://developers.google.com/identity/images/g-logo.png" width="20">

                Continue with Google

            </a>

        </form>

        <a href="/register" class="btn">Register</a>


    </div>

</body>

</html>